.section {
  width: 100%;
  padding: 50px 60px 20px;
  background: var(--footer-blue);
}

.container {
  display: flex;
  height: 180px;
}

.content {
  width: 30%;

  h2 {
    font-size: 1.8rem;
    padding-bottom: 20px;
  }

  p {
    padding-bottom: 20px;
    color: var(--text-gray);
  }

  h3 {
    font-size: 1.2rem;
    line-height: 1.3;
    font-weight: 400;
  }
}

/* link section */
.linkbar {
  display: flex;
  justify-content: end;
  width: 70%;
}

.link {
  display: flex;
  flex-direction: column;
  width: 16%;
  line-height: 2;

  h2 {
    font-size: 1.3rem;
  }

  a {
    color: var(--text-gray);
    transition: all 0.3 ease;

    &:hover {
      color: var(--background-blue);
    }
  }
}

/* bottom bar section */
.bar {
  display: flex;
  width: 72%;
  justify-content: space-between;
  align-items: center;
}

.form {
  border: 1.2px solid purple;
  border-radius: var(--card-radius);
  overflow: hidden;

  input {
    padding: 15px 40px;
    border: none;
  }

  button {
    padding: 15px 20px;
    border: none;
    font-weight: 600;
    background: #6246eb;
    color: var(--white);
    cursor: pointer;
  }
}

.icon {
  i {
    padding: 0px 20px;
  }
}
.toTopBtn{
  color: var(--text-gray);
  text-align: right;
}
/* bottom footer */
.bottom {
  text-align: center;
  border-top: 1px solid #80808051;
  margin-top: 50px;

  p {
    margin-top: 20px;
  }
}

@media (max-width: 1250px) {
  /* bottom bar section */
  .bar {
    width: 75%;
  }

  .container {
    margin-bottom: 25px;
  }
}

@media (max-width: 992px) {
  .section {
    padding: 50px 20px 10px;
  }

  .container {
    height: 140px;
  }

  .content {
    width: 70%;

    h2 {
      font-size: 1.2rem;
    }

    h3 {
      font-size: 1rem;
    }
  }

  /* link section */
  .link {
    width: 30%;

    h2 {
      font-size: 1rem;
    }
  }

  /* bottom bar section */
  .bar {
    width: 66%;
  }

  .form {
    input {
      padding: 11px 16px;
    }

    button {
      padding: 11px 16px;
    }
  }

  /* bottom footer */
  .bottom {
    margin-top: 35px;
  }
}

@media (max-width: 768px) {
  .container {
    height: 110px;
  }
  .content {
    width: 70%;

    h2 {
      font-size: 0.9rem;
    }

    p {
      padding-bottom: 15px;
      font-size: 0.8rem;
    }

    h3 {
      font-size: 0.8rem;
    }
  }

  /* link section */
  .link {
    width: 30%;

    h2 {
      font-size: 0.9rem;
    }

    a {
      font-size: 0.8rem;
    }
  }

  /* bottom bar section */
  .bar {
    width: 69%;
  }

  .form {
    input {
      padding: 9px 8px;
    }

    button {
      padding: 9px 8px;
    }
  }

  /* bottom footer */
  .bottom {
    margin-top: 35px;

    p {
      margin-top: 18px;

      font-size: 0.8rem;
    }
  }
}
